@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #24252a;
    font-family: "Montserrat", sans-serif;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    background-color: #121315;
    width: 100%;
}
nav{
    order: 1;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content:  space-between;
    align-items: center;

}
.logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
    margin-right: 20px;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3 ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
    transition: all 0.3s ease 0s;
}
.contact {
    order: 2;

}
.contact button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.contact button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
.container {

    width: 80%;
    margin: 160px auto 60px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.contact-details, .contact-form, .map {
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact-form button:hover {
    background: #555;
}
.container h1,h2 {
    color: #edf0f1;
}
.container p {
    color: #edf0f1b4;
}
.container label {
    color: #edf0f1b4;
}
.map h2 {
    padding-bottom: 10px;
}
footer{
    background-color: #121315;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 9%;
    font-family: "Roboto", sans-serif;
}

footer .rights{
    font-size: 14px;
    color: #edf0f1;
}

footer .social .s-link{
    padding: 0px 10px;
    width: 70px;
    height: 70px;
    font-size: 20px;
    color: #edf0f1;
}
footer .social .s-link:hover{
    transform: scale(1.30);
}
