@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #24252a;
    height: 1000vh;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    background-color: #121315;
    width: 100%;
}
nav{
    order: 1;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content:  space-between;
    align-items: center;

}
.logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
    margin-right: 20px;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3 ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
    transition: all 0.3s ease 0s;
}
.contact {
    order: 2;
}
.contact button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.contact button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
.background-scroll {
    margin-top: 76.909px;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(https://wallpapers.com/images/hd/photographer-1920-x-1080-background-5efm7uj4hwui0fe1.jpg);
    background-attachment: fixed;
    color: white;
    display: flex;
}
.background-scroll p {
    font-size: 36px;
    padding: 50px 20px;
    font-family: "Montserrat", sans-serif;
}
.services {
    text-align: center;
    padding: 50px 20px;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.service-box {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-box:hover {
    transform: scale(1.05);
}

.service-box img {
    width: 50px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
}
